.modal#ajax-outgoing
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Outgoing
      .modal-body
        %p One fine body…
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary#outgoing-save{:type => "button"} Save changes
